@import url('debug.css');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
/* HEADER >>>>>>>>>>>>>>>>>>>>>>>>>*/

.ms-nav {
    height: 4.375rem;

}
.logo-mob {
    width: 3.125rem;
}
.logo {
    width: 10rem;
}
.icon-top {
    
}
.icon-top button i {
    color: #ff8f00;
}

.ms-search-text {
    font-size: .8rem;
    flex-grow: 1;
}
/* HEADER >>>>>>>>>>>>>>>>>>>>>>>>>*/

/* MAIN >>>>>>>>>>>>>>>>>>>>>>>>>>>*/

/* sidebar>>>>>>>>>>>>>>>>>>> */

.ms-sidebar {
    background-color: #051e34;
    height: calc(100vh - 4.375rem);
    background-image: url(../img/sidebar-bg.png);
}

.ms-sidebar i {
    color: white;
}
.icon-side {
    width: 20px;
    text-align: center;
}
.ms-box-icon:hover {
    background-color: lightgray;
}
/* sidebar>>>>>>>>>>>>>>>>>>> */


/* content>>>>>>>>>>>>>>>>>>> */

.ms-content {
    overflow: auto;
    height: calc(100vh - 4.375rem);
    width: 100%;
}
/* top content >>>>>>>>>>>>>>>>>> */
.ms-top-content {
    background-color: #1b72e8;
}
.ms-plus {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: solid white .0625rem;
    border-radius: .3125rem;
}
/* content>>>>>>>>>>>>>>>>>>> */

/* MAIN >>>>>>>>>>>>>>>>>>>>>>>>>>>*/
