@import url('debug.css');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
/* HEADER >>>>>>>>>>>>>>>>>>>>>>>>>*/

.ms-nav {
    height: 4.375rem;

}
.logo-mob {
    width: 3.125rem;
}
.logo {
    width: 10rem;
}
.icon-top {
    
}
.icon-top button i {
    color: #ff8f00;
}

.ms-search-text {
    font-size: .8rem;
    flex-grow: 1;
}
/* HEADER >>>>>>>>>>>>>>>>>>>>>>>>>*/

/* MAIN >>>>>>>>>>>>>>>>>>>>>>>>>>>*/

/* sidebar>>>>>>>>>>>>>>>>>>> */

.ms-sidebar {
    background-color: #051e34;
    height: calc(100vh - 4.375rem);
    background-image: url(../img/sidebar-bg.png);
}

.ms-sidebar i {
    color: white;
}
.icon-side {
    width: 20px;
    text-align: center;
}
.ms-box-icon:hover {
    background-color: lightgray;
}
/* sidebar>>>>>>>>>>>>>>>>>>> */


/* content>>>>>>>>>>>>>>>>>>> */

.ms-content {
    overflow: auto;
    height: calc(100vh - 4.375rem);
    width: 100%;
}
/* top content >>>>>>>>>>>>>>>>>> */
.ms-top-content {
    background-color: #1b72e8;
}

.ms-plus {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: solid white .0625rem;
    border-radius: .3125rem;
    color: white;
}
.ms-plus:hover {
    background-color: white;
    color: #165bba;
}
.ms-badge-blue {
    background-color: #165bba;
    margin: 13px;
}
.fa-angles-right {
    font-size: small;
}

/* cards */

.ms-tab {
    font-size: 13px;
}
.ms-font-size {
    font-size: 14px;
}
.ms-accordion-button {
    border-color: white;
    box-shadow: 0 0 0 0 white;
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: var(--bs-accordion-btn-padding-y) var(--bs-accordion-btn-padding-x);
    font-size: 1rem;
    text-align: left;
    border: 0;
    border-radius: 0;
    overflow-anchor: none;
    transition: var(--bs-accordion-transition);
    background-color: white;
}

.ms-accordion-button:not(.collapsed)::after {
    transform: var(--bs-accordion-btn-icon-transform);
}
.ms-accordion-button::after {
    flex-shrink: 0;
    width: var(--bs-accordion-btn-icon-width);
    height: var(--bs-accordion-btn-icon-width);
    margin-left: auto;
    content: "";
    background-image: var(--bs-accordion-btn-icon);
    background-repeat: no-repeat;
    background-size: var(--bs-accordion-btn-icon-width);
    transition: var(--bs-accordion-btn-icon-transition);
}
/* icone tabella 1 */
.tab-name-icon {
    display: inline-block;
    padding: 1px 3px;
    border-radius: 50px;
    background-color: red;
    color: white;
}
.tab-action-icon {
    display: inline-block;
    border: solid 1px grey;
    width: 25px;
    padding: 2px;
    border-radius: 5px;
    color: grey;
    margin: 0 1px;
}
.tab-action-icon:hover {
    color: white;
    background-color: grey;
    border: white;
}
/* icone tabella 1 */
/* content>>>>>>>>>>>>>>>>>>> */
.offcanvas-end {
    width: 100% !important; 
}
@media screen and (min-width: 45rem) {
    .offcanvas-end {
        width: 900px !important;
    }
}

.form-control:focus {
    border-color: lightgray !important;
    box-shadow: 0 0 0 0 white !important;
}
/* MAIN >>>>>>>>>>>>>>>>>>>>>>>>>>>*/
